<div class="accordion mt-3" id="accordionExample">
  <h1 class="fs-3 my-3">Preguntas frecuentes</h1>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
        <strong>¿Por qué no aparezco como miembro del Team? :(</strong>
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        Si no apareces como miembro del Team es porque no has participado en una competencia oficial de la <a href="https://www.worldcubeassociation.org/">World Cube Association</a> o porque no has sido agregado por algún administrador, recuerda que todos pueden ser parte de un Team, el único requisito es que vivas en el mismo estado, si cumples con lo anterior mencionado contáctate con el Team en alguno de los medios que aparecen <a href="{% url 'cubingmexico_web:team' team_code=selected_state %}">aquí</a> para que puedan agregarte.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        <strong>¿Por qué aparece tal persona en este Team si ni siquiera vive en este estado?</strong>
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        Puede deberse a que la persona se cambió recientemente de residencia o simplemente a algún error del administrador de un Team, puedes enviar un mensaje a alguna de sus <a href="{% url 'cubingmexico_web:team' team_code=selected_state %}">redes sociales</a> para que puedan revisarlo.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        <strong>Vivo en este estado pero no quiero pertenecer al Team, ¿qué puedo hacer?</strong>
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        Para poder aparecer en los rankings y récords estatales sin tener que ser miembro de un Team tienes que hacer lo siguiente:
        <ol>
          <li>Haber participado en una competencia oficial avalada por la <a href="https://www.worldcubeassociation.org/">World Cube Association</a>.</li>
          <li>Iniciar sesión en Cubingmexico utilizando tus credenciales de la WCA.</li>
          {% if user.cubingmexicoprofile.person_state_team %}
          <li>Ir a tu <a href="{% url 'cubingmexico_web:my_results' wca_id=request.user.wcaprofile.wca_id %}">Perfil</a> y seleccionar tu estado.</li>
          {% else %}
          <li>Ir a tu Perfil y seleccionar tu estado.</li>
          {% endif %}
        </ol>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingFour">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
        <strong>Ya hice todo lo mencionado anteriormente y no aparezco en los rankings/récords de mi estado</strong>
      </button>
    </h2>
    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        Si has completado las acciones mencionadas previamente y aún no ves resultados, se debe a que la base de datos aún no ha sido actualizada. Esto es una situación común y no debes inquietarte. La base de datos se actualiza todos los días a las 02:00 UTC-6 (2 AM hora de la Ciudad de México). Te pedimos amablemente que tengas paciencia y compruebes de nuevo mañana.
      </div>
    </div>
  </div>
</div>