{% load static %}

<footer class="footer mt-auto py-3">
  <div class="container">
    <div class="row">
      <div class="col-9">
        <span class="text-muted">¿Ves algo erróneo o tienes alguna sugerencia? Repórtalo en el repositorio de <a href="https://github.com/LeonardoSDT/cubingmexico" class="text-body text-decoration-none">Cubing México <i class="bi bi-github"></i></a></span>
        <br>
        <span class="text-muted fw-lighter">Últimos resultados: {{ last_competition.name }}</span>
          {% if missing_competitions %}
          <br>
          <span class="text-muted fw-lighter">Resultados pendientes:</span>
          <ul>
            {% for missing_competition in missing_competitions %}
              <li class="text-muted fw-lighter">{{ missing_competition.name }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
      <div class="col-3">
        <div class="form-check form-switch m-3">
          <label class="form-check-label" for="flexSwitchCheckChecked">
            <input class="form-check-input p-2" type="checkbox" role="switch" id="flexSwitchCheckChecked" name="flexSwitchCheckChecked" aria-labelledby="flexSwitchCheckChecked" onclick="toggleDarkMode()">
            <i class="bi bi-sun-fill" id="sunIcon"></i>
            <i class="bi bi-moon-fill" id="moonIcon" style="display: none;"></i>
          </label>
        </div>
      </div>
    </div>
    <div class="row">
      <ul class="nav list-unstyled d-flex">
        <li class="ms-3"><a class="text-body" href="https://www.facebook.com/CubingMexico" aria-label="Enlace de Facebook"><i class="bi bi-facebook m-1"></i></a></li>
        <li class="ms-3"><a class="text-body" href="https://www.instagram.com/cubingmexico/" aria-label="Enlace de Instagram"><i class="bi bi-instagram m-1"></i></a></li>
      </ul>
    </div>    
  </div>
</footer>