<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'cubingmexico_web:index' %}">Cubingmexico</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">Rankings</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="{% url 'cubingmexico_web:national_rankings_333_single' %}">Nacionales</a></li>
              <li><a class="dropdown-item" href="#">Estatales</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">Récords</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="#">Nacionales</a></li>
              <li><a class="dropdown-item" href="#">Estatales</a></li>
              <li><a class="dropdown-item" href="#">Nacionales No Oficiales (UNRs)</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'cubingmexico_web:state_teams' %}">Teams estatales</a>
        </li>
        {% if user.is_authenticated %}
          <li class="nav-item dropdown me-5">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{ user.wcaprofile }}</a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="{% url 'cubingmexico_web:profile' %}">Perfil</a></li>
                <li><a class="dropdown-item" href="{% url 'cubingmexico_web:my_results' wca_id=request.user.wcaprofile.wca_id %}">Mis resultados</a></li>
                <li><a class="dropdown-item" href="{% url 'cubingmexico_web:logout' %}">Cerar sesión</a></li>
              </ul>
          </li>
          {% else %}
          <li class="nav-item">
              <a class="nav-link" href="{{ wca_login_uri }}">Iniciar sesión con la WCA</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>