{% load static %}

<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'cubingmexico_web:index' %}"><img src="{% static 'img/cubingmexico_logo.svg' %}" width="50" height="50" alt="Logo de Cubing México" class="me-2">Cubing México</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'cubingmexico_web:competitions' %}"><i class="bi bi-trophy-fill me-2"></i>Competencias</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'cubingmexico_web:rankings' event_type='333' ranking_type='single' %}"><i class="bi bi-reception-4 me-2"></i>Rankings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'cubingmexico_web:records' %}"><i class="bi bi bi-award-fill me-2"></i>Récords</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'cubingmexico_web:sor' ranking_type='single' %}"><i class="bi bi-plus-circle-fill me-2"></i>SOR</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="{% url 'cubingmexico_web:kinch' %}"><i class="bi bi-bar-chart-steps me-2"></i>KinchRanks</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#"><i class="bi bi-trophy me-2"></i>UNRs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'cubingmexico_web:state_teams' %}"><i class="bi bi-people-fill me-2"></i>Teams estatales</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink3" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-file-person-fill me-2"></i>Acerca de</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink3">
            <li><a class="dropdown-item" href="{% url 'cubingmexico_web:about' %}"><i class="bi bi-info-circle-fill me-2"></i>Acerca de</a></li>
            <!-- <li><a class="dropdown-item" href="{% url 'cubingmexico_web:development' %}"><i class="bi bi-braces me-2"></i>Desarrollo</a></li>
            <li><a class="dropdown-item" href="{% url 'cubingmexico_web:donations' %}"><i class="bi bi-cash me-2"></i>Donaciones</a></li> -->
            <li><a class="dropdown-item" href="{% url 'cubingmexico_web:faq' %}"><i class="bi bi-question-circle-fill me-2"></i>Preguntas frecuentes</a></li>
            <li><a class="dropdown-item" href="{% url 'cubingmexico_web:logo' %}"><i class="bi bi-image me-2"></i>Logo</a></li>
          </ul>
        </li>
        {% if user.is_authenticated %}
          <li class="nav-item dropdown me-5">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink4" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-person-fill me-2"></i>{{ user.wcaprofile }}</a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink4">
                <li><a class="dropdown-item" href="{% url 'cubingmexico_web:profile' %}"><i class="bi bi-person-lines-fill me-2"></i>Perfil</a></li>
                <li><a class="dropdown-item" href="{% url 'cubingmexico_web:my_results' wca_id=request.user.wcaprofile.wca_id %}"><i class="bi bi-table me-2"></i>Mis resultados</a></li>
                {% if user.cubingmexicoprofile.person_state_team %}
                <li><a class="dropdown-item" href="{% url 'cubingmexico_web:team' team_code=request.user.cubingmexicoprofile.person_state_team.state_team.state.three_letter_code %}"><i class="bi bi-people-fill me-2"></i>Mi Team</a></li>
                {% endif %}
                <li><a class="dropdown-item" href="{% url 'cubingmexico_web:logout' %}"><i class="bi bi-box-arrow-right me-2"></i>Cerar sesión</a></li>
              </ul>
          </li>
          {% else %}
          <li class="nav-item">
              <a class="nav-link" href="{{ wca_login_uri }}"><i class="bi bi-box-arrow-in-left me-2"></i>Iniciar sesión con la WCA</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>