{% extends 'base.html' %}

{% block title %}
Ranking estatal
{% for state in states %}
    {% if state.three_letter_code == selected_state %}
        {{ state.name }}
    {% endif %}
{% endfor %}
de
{% for event in events %}
    {% if event.id == selected_event %}
        {{ event.name }}
        {% if event.id != '333mbf' %}
            {{ ranking_type|title }}
        {% endif %}
    {% endif %}
{% endfor %}
{% endblock %}

{% load static %}
{% load divide_by_100 %}
{% load time_formatter %}
{% load time_formatter_333mbf %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css">
    <link rel="stylesheet" href="{% static 'css/cubing-icons.css' %}">
{% endblock stylesheets %}

{% block content %}
    <div class="row">
        <div class="col-12 col-sm-9">
            <h1 class="my-3">
                Ranking estatal
                {% for state in states %}
                    {% if state.three_letter_code == selected_state %}
                        {{ state.name }}
                    {% endif %}
                {% endfor %}
                de
                {% for event in events %}
                    {% if event.id == selected_event %}
                        {{ event.name }}
                        {% if event.id != '333mbf' %}
                            {{ ranking_type|title }}
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </h1>
        
            <div class="mb-3">
                <div class="flex flex-row flex-wrap">
                    <a href="{% url 'cubingmexico_web:state_rankings_single' event_type='333' state=selected_state %}"><span class="cubing-icon event-333 m-1 h4 {% if '333' in selected_event %} text-dark {% else %} text-black-50 {% endif %}"></span></a>
                    <a href="{% url 'cubingmexico_web:state_rankings_single' event_type='222' state=selected_state %}"><span class="cubing-icon event-222 m-1 h4 {% if '222' in selected_event %} text-dark {% else %} text-black-50 {% endif %}"></span></a>
                    <a href="{% url 'cubingmexico_web:state_rankings_single' event_type='444' state=selected_state %}"><span class="cubing-icon event-444 m-1 h4 {% if '444' in selected_event %} text-dark {% else %} text-black-50 {% endif %}"></span></a>
                    <a href="{% url 'cubingmexico_web:state_rankings_single' event_type='555' state=selected_state %}"><span class="cubing-icon event-555 m-1 h4 {% if '555' in selected_event %} text-dark {% else %} text-black-50 {% endif %}"></span></a>
                    <a href="{% url 'cubingmexico_web:state_rankings_single' event_type='666' state=selected_state %}"><span class="cubing-icon event-666 m-1 h4 {% if '666' in selected_event %} text-dark {% else %} text-black-50 {% endif %}"></span></a>
                    <a href="{% url 'cubingmexico_web:state_rankings_single' event_type='777' state=selected_state %}"><span class="cubing-icon event-777 m-1 h4 {% if '777' in selected_event %} text-dark {% else %} text-black-50 {% endif %}"></span></a>
                    <a href="{% url 'cubingmexico_web:state_rankings_single' event_type='333bf' state=selected_state %}"><span class="cubing-icon event-333bf m-1 h4 {% if '333bf' in selected_event %} text-dark {% else %} text-black-50 {% endif %}"></span></a>
                    <a href="{% url 'cubingmexico_web:state_rankings_single' event_type='333fm' state=selected_state %}"><span class="cubing-icon event-333fm m-1 h4 {% if '333fm' in selected_event %} text-dark {% else %} text-black-50 {% endif %}"></span></a>
                    <a href="{% url 'cubingmexico_web:state_rankings_single' event_type='333oh' state=selected_state %}"><span class="cubing-icon event-333oh m-1 h4 {% if '3oh' in selected_event %} text-dark {% else %} text-black-50 {% endif %}"></span></a>
                    <a href="{% url 'cubingmexico_web:state_rankings_single' event_type='clock' state=selected_state %}"><span class="cubing-icon event-clock m-1 h4 {% if 'clock' in selected_event %} text-dark {% else %} text-black-50 {% endif %}"></span></a>
                    <a href="{% url 'cubingmexico_web:state_rankings_single' event_type='minx' state=selected_state %}"><span class="cubing-icon event-minx m-1 h4 {% if 'minx' in selected_event %} text-dark {% else %} text-black-50 {% endif %}"></span></a>
                    <a href="{% url 'cubingmexico_web:state_rankings_single' event_type='pyram' state=selected_state %}"><span class="cubing-icon event-pyram m-1 h4 {% if 'pyram' in selected_event %} text-dark {% else %} text-black-50 {% endif %}"></span></a>
                    <a href="{% url 'cubingmexico_web:state_rankings_single' event_type='skewb' state=selected_state %}"><span class="cubing-icon event-skewb m-1 h4 {% if 'skewb' in selected_event %} text-dark {% else %} text-black-50 {% endif %}"></span></a>
                    <a href="{% url 'cubingmexico_web:state_rankings_single' event_type='sq1' state=selected_state %}"><span class="cubing-icon event-sq1 m-1 h4 {% if 'sq1' in selected_event %} text-dark {% else %} text-black-50 {% endif %}"></span></a>
                    <a href="{% url 'cubingmexico_web:state_rankings_single' event_type='444bf' state=selected_state %}"><span class="cubing-icon event-444bf m-1 h4 {% if '444bf' in selected_event %} text-dark {% else %} text-black-50 {% endif %}"></span></a>
                    <a href="{% url 'cubingmexico_web:state_rankings_single' event_type='555bf' state=selected_state %}"><span class="cubing-icon event-555bf m-1 h4 {% if '555bf' in selected_event %} text-dark {% else %} text-black-50 {% endif %}"></span></a>
                    <a href="{% url 'cubingmexico_web:state_rankings_single' event_type='333mbf' state=selected_state %}"><span class="cubing-icon event-333mbf m-1 h4 {% if '333mbf' in selected_event %} text-dark {% else %} text-black-50 {% endif %}"></span></a>
                </div>
            </div>
        
            {% if selected_event != '333mbf' %}
            <div class="btn-group mb-3" role="group">
                <a href="{% url 'cubingmexico_web:state_rankings_single' event_type=selected_event state=selected_state %}" class="btn btn-primary {% if 'single' in ranking_type %} disabled {% endif %}">Single</a>
                <a href="{% url 'cubingmexico_web:state_rankings_average' event_type=selected_event state=selected_state %}" class="btn btn-primary {% if 'average' in ranking_type %} disabled {% endif %}">Media</a>
            </div>
            {% endif %}        
        </div>
        <div class="col-12 col-sm-3 d-flex justify-content-center my-3">
            <form>
                <label for="state-select"><strong>Selecciona un estado</strong></label>
                <select class="form-select" id="state-select" onchange="location = this.value;">
                  {% for state in states %}
                    <option value="{% url 'cubingmexico_web:state_rankings_single' event_type=selected_event state=state.three_letter_code %}" {% if state.three_letter_code == selected_state %}selected{% endif %}>{{ state.name }}</option>
                  {% endfor %}
                </select>
              </form>              
        </div>        
    </div>
    
    <table id="rankings" class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Resultado</th>
                <th>Competencia</th>
            </tr>
        </thead>
        <tbody>
            {% for result in rankings %}
                <tr>
                    <td scope="row">{{ forloop.counter }}</td>
                    <td><a href="https://www.worldcubeassociation.org/persons/{{ result.person.id }}" class="text-decoration-none">{{ result.person_name }}</a></td>
                    {% if ranking_type == 'single' %}
                        {% if selected_event == '333mbf' %}
                            <td>{{ result.best|time_formatter_333mbf }}</td>
                        {% elif selected_event == '333fm' %}
                            <td>{{ result.best }}</td>
                        {% else %}
                            <td>{{ result.best|time_formatter }}</td>
                        {% endif %}
                    {% else %}
                    <td>{{ result.average|time_formatter }}</td>
                    {% endif %}
                    <td>{{ result.competition.name }}</td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Resultado</th>
                <th>Competencia</th>
            </tr>
        </tfoot>
    </table>
    
{% endblock %}

{% block javascripts %}

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script>

<script>
    $(document).ready(function () {
        $('#rankings').DataTable({
            "language": {
                url: '//cdn.datatables.net/plug-ins/1.13.4/i18n/es-ES.json',
            }
        });
    });
</script>
{% endblock javascripts %}