Django==4.1.7
gevent
gunicorn
psycopg2-binary
django-environ
google-cloud-secret-manager
django-storages[google]
django-extensions
djangorestframework
supervisor
tzdata
uwsgi
requests
pandas
numpy
Pillow