{% extends 'base_rankings.html' %}

{% block title %}Ranking nacional de 7x7x7 Media{% endblock %}

{% block rankingtitle %}
<h1 class="my-3">Ranking nacional de 7x7x7 Media</h1>
{% endblock %}

{% block singleaveragebuttons %}
    <a href="{% url 'cubingmexico_web:national_rankings_777_single' %}" class="btn btn-primary">Single</a>
    <a href="{% url 'cubingmexico_web:national_rankings_777_average' %}" class="btn btn-primary disabled">Media</a>
{% endblock %}

{% block content %}
    {% load time_formatter %}

    {% for result in average_777 %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td><a href="https://www.worldcubeassociation.org/persons/{{ result.person.id }}" class="text-decoration-none">{{ result.person_name }}</a></td>
        <td>{{ result.average|time_formatter }}</td>
        <td>{{ result.competition.name }}</td>
    </tr>
    {% endfor %}
{% endblock %}