{% extends 'base_rankings.html' %}

{% block title %}Ranking nacional de 3x3x3 A Ciegas Single{% endblock %}

{% block rankingtitle %}
<h1 class="my-3">Ranking nacional de 3x3x3 A Ciegas Single</h1>
{% endblock %}

{% block singleaveragebuttons %}
    <a href="{% url 'cubingmexico_web:national_rankings_333bf_single' %}" class="btn btn-primary disabled">Single</a>
    <a href="{% url 'cubingmexico_web:national_rankings_333bf_average' %}" class="btn btn-primary">Media</a>
{% endblock %}

{% block content %}
    {% load time_formatter %}

    {% for result in single_333bf %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td><a href="https://www.worldcubeassociation.org/persons/{{ result.person.id }}" class="text-decoration-none">{{ result.person_name }}</a></td>
        <td>{{ result.best|time_formatter }}</td>
        <td>{{ result.competition.name }}</td>
    </tr>
    {% endfor %}
{% endblock %}