{% extends 'base.html' %}

{% block title %}Acerca de Cubing México{% endblock %}
{% block meta_description %}{% endblock %}
{% block meta_keywords %}{% endblock %}

{% load static %}

{% block stylesheets %}
{% endblock stylesheets %}

{% block content %}

<h1 class="text-center my-3">Acerca de Cubing México</h1>

<div class="container">
    <div class="row">
        <div class="col-8">
            <p>Cubing México es un sitio web hecho por y para la comunidad, está dedicado a promover y celebrar la próspera comunidad de speedcubers en México. Nuestra misión es proporcionar información completa sobre los rankings y récords estatales, fomentar la participación de la comunidad y contribuir al crecimiento del speedcubing como deporte en México.</p>
        </div>
        <div class="col-4">
            <img src="" alt="Logotipo de Cubing México">
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <img src="" alt="Logotipo de Cubing México">
        </div>
        <div class="col-8">
            <p>Desde el año 2008 más de 2,800 mexicanos han participado en poco más de 100 competencias oficiales a lo largo de México.</p>
        </div>
    </div>
</div>

{% endblock %}

{% block javascripts %}
{% endblock javascripts %}