{% extends 'base.html' %}

{% block title %}Competencias - Cubing México{% endblock %}
{% block meta_description %}Próximas competencias oficiales en México para entusiastas del cubo de Rubik. Mantente actualizado con fechas de competencias, ubicaciones y detalles importantes.{% endblock %}
{% block meta_keywords %}competencias oficiales próximas, competencias próximas, México, cubo de Rubik, speedcubing, eventos de rompecabezas, fechas de competencias, detalles de ubicación{% endblock %}

{% load static %}
{% load split_events %}
{% load date_formatter %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.5.0/css/responsive.bootstrap5.min.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>

    <link rel="stylesheet" href="{% static 'css/cubing-icons.css' %}">
{% endblock stylesheets %}

{% block content %}

<div class="container">
    {% if current_competitions %}
    <div class="row">
        <h1 class="text-center my-3">Competencias oficiales activas en México</h1>
        <p class="card-text">Estas competencias están en marcha, ¡puedes ver los resultados en directo en la <a href="https://live.worldcubeassociation.org/" class="text-decoration-none">WCA Live</a>!</p>
        <table id="current_competitions" class="table table-striped nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nombre de la competencia</th>
                    <th>Categorías</th>
                    <th>WCA Live</th>
                    <th>Fecha(s)</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody>
                {% for competition in current_competitions %}
                <tr>
                    <td scope="row">{{ forloop.counter }}</td>
                    <td>
                        <a href="https://www.worldcubeassociation.org/competitions/{{ competition.id }}" class="text-decoration-none">{{ competition.name }}</a>
                    </td>
                    <td>
                        {% for spec in competition.event_specs|split_string_and_sort %}
                            <span class="cubing-icon event-{{ spec }}"></span>
                        {% endfor %}
                    </td>
                    <td>
                        <a href="https://live.worldcubeassociation.org/link/competitions/{{ competition.id }}" class="text-decoration-none">
                            <img src="https://www.worldcubeassociation.org/files/WCAlogo_notext.svg" alt="WCA" width="20" class="me-2">Ver resultados en vivo
                        </a>
                    </td>
                    <td>{{ competition|format_competition_date_spanish }}</td>
                    <td>{{ competition.competition_state }}</td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th>#</th>
                    <th>Nombre de la competencia</th>
                    <th>Categorías</th>
                    <th>WCA Live</th>
                    <th>Fecha(s)</th>
                    <th>Estado</th>
                </tr>
            </tfoot>
        </table>
    </div>
    <div class="row">
        <div id="current_map" style="height: 300px;" class="my-3"></div>
    </div>
    {% endif %}
    <div class="row">
        <h1 class="text-center my-3">Próximas competencias oficiales en México</h1>
        {% if upcoming_competitions %}
            <p class="card-text">Para obtener información más detallada sobre cada competencia, como la fecha de inscripción, cupo, cuota, y otros detalles, te invitamos a visitar el sitio web de la competencia en cuestión.</p>
            <table id="upcoming_competitions" class="table table-striped nowrap" style="width:100%">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nombre de la competencia</th>
                        <th>Categorías</th>
                        <th>Fecha(s)</th>
                        <th>Estado</th>
                    </tr>
                </thead>
                <tbody>
                    {% for competition in upcoming_competitions %}
                    <tr>
                        <td scope="row">{{ forloop.counter }}</td>
                        <td>
                            <a href="https://www.worldcubeassociation.org/competitions/{{ competition.id }}" class="text-decoration-none">{{ competition.name }}</a>
                        </td>
                        <td>
                            {% for spec in competition.event_specs|split_string_and_sort %}
                                <span class="cubing-icon event-{{ spec }}"></span>
                            {% endfor %}
                        </td>
                        <td>{{ competition|format_competition_date_spanish }}</td>
                        <td>{{ competition.competition_state }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th>#</th>
                        <th>Nombre de la competencia</th>
                        <th>Categorías</th>
                        <th>Fecha(s)</th>
                        <th>Estado</th>
                    </tr>
                </tfoot>
            </table>
        {% else %}
            <p class="alert alert-info">No hay competencias próximas en México por el momento.</p>
        {% endif %}
    </div>
    <div class="row">
        <div id="upcoming_map" style="height: 300px;" class="my-3"></div>
    </div>
    <div class="row">
        <h1 class="text-center my-3">Competencias oficiales previas en México</h1>
        <p class="card-text">Estas competencias ya fueron celebradas, puedes consultar la información de los ganadores y resultados visitando el sitio web de la competencia en cuestión.</p>
        <table id="past_competitions" class="table table-striped nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nombre de la competencia</th>
                    <th>Categorías</th>
                    <th>Fecha(s)</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody>
                {% for competition in past_competitions %}
                <tr>
                    <td scope="row">{{ forloop.counter }}</td>
                    <td>
                        <a href="https://www.worldcubeassociation.org/competitions/{{ competition.id }}" class="text-decoration-none">{{ competition.name }}</a>
                    </td>
                    <td>
                        {% for spec in competition.event_specs|split_string_and_sort %}
                            <span class="cubing-icon event-{{ spec }}"></span>
                        {% endfor %}
                    </td>
                    <td>{{ competition|format_competition_date_spanish }}</td>
                    <td>{{ competition.competition_state }}</td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th>#</th>
                    <th>Nombre de la competencia</th>
                    <th>Categorías</th>
                    <th>Fecha(s)</th>
                    <th>Estado</th>
                </tr>
            </tfoot>
        </table>
    </div>
    <div class="row">
        <div id="past_map" style="height: 300px;" class="my-3"></div>
    </div>
</div>

{% endblock %}

{% block javascripts %}

<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.5.0/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.5.0/js/responsive.bootstrap5.min.js"></script>

<script>
    $(document).ready(function () {
        $('#upcoming_competitions, #past_competitions, #current_competitions').DataTable({
            responsive: true,
            "language": {
                url: '//cdn.datatables.net/plug-ins/1.13.4/i18n/es-ES.json',
            }
        });
    });
</script>

<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>

<script type="text/javascript">
    var current_map = L.map('current_map'); // Initialize the map without setting the initial view

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '© OpenStreetMap contributors'
    }).addTo(current_map);

    var isFirstIterationUp = true;
    
    var currentCompetitionsList = {{ current_competitions_list_json|safe }};

    currentCompetitionsList.forEach(function (competition) {
        var latitude = parseFloat(competition.latitude) / 1000000;
        var longitude = parseFloat(competition.longitude) / 1000000;

        var marker = L.marker([latitude, longitude]).addTo(current_map)
            .bindPopup(`<b>${competition.name}</b><br>${competition.competitionstate__state__name}`)

        if (isFirstIterationUp) {
            current_map.setView([latitude + 2, longitude], 5); // Set the initial view to the first marker's coordinates
            marker.openPopup();
            isFirstIterationUp = false;
        }
    });
</script>

<script type="text/javascript">
    var upcoming_map = L.map('upcoming_map'); // Initialize the map without setting the initial view

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '© OpenStreetMap contributors'
    }).addTo(upcoming_map);

    var isFirstIterationUp = true;
    
    var upcomingCompetitionsList = {{ upcoming_competitions_list_json|safe }};

    upcomingCompetitionsList.forEach(function (competition) {
        var latitude = parseFloat(competition.latitude) / 1000000;
        var longitude = parseFloat(competition.longitude) / 1000000;

        var marker = L.marker([latitude, longitude]).addTo(upcoming_map)
            .bindPopup(`<b>${competition.name}</b><br>${competition.competitionstate__state__name}`)

        if (isFirstIterationUp) {
            upcoming_map.setView([latitude + 2, longitude], 5); // Set the initial view to the first marker's coordinates
            marker.openPopup();
            isFirstIterationUp = false;
        }
    });
</script>

<script type="text/javascript">
    var past_map = L.map('past_map'); // Initialize the map without setting the initial view

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '© OpenStreetMap contributors'
    }).addTo(past_map);
    
    var isFirstIterationPast = true;
    
    var pastCompetitionsList = {{ past_competitions_list_json|safe }};

    pastCompetitionsList.forEach(function (competition) {
        var latitude = parseFloat(competition.latitude) / 1000000;
        var longitude = parseFloat(competition.longitude) / 1000000;

        var marker = L.marker([latitude, longitude]).addTo(past_map)
            .bindPopup(`<b>${competition.name}</b><br>${competition.competitionstate__state__name}`)
            
        if (isFirstIterationPast) {
            past_map.setView([latitude + 2, longitude], 5); // Set the initial view to the first marker's coordinates
            marker.openPopup();
            isFirstIterationPast = false;
        }
    });
</script>

{% endblock javascripts %}