{% extends 'base.html' %}

{% block title %}Donaciones - Cubing México{% endblock %}
{% block meta_description %}{% endblock %}
{% block meta_keywords %}{% endblock %}

{% load static %}

{% block stylesheets %}
{% endblock stylesheets %}

{% block content %}

<h1 class="text-center my-3">Donaciones</h1>

<div class="container">
    <div class="row">
        <div class="col-8">
            <p>Cubing México es un sitio web.</p>
        </div>
        <div class="col-4">
            <img src="" alt="Logotipo de Cubing México">
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <img src="" alt="Logotipo de Cubing México">
        </div>
        <div class="col-8">
            <p>Desde el año 2008 más de 2,800 mexicanos han participado en poco más de 100 competencias oficiales a lo largo de México.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Donar a través de PayPal</h5>
                    <p class="card-text"></p>
                    <a href="https://www.paypal.com/donate/?hosted_button_id=ZRWXP6B78SQDY" class="btn btn-primary"><i class="bi bi-currency-dollar me-2"></i>Haz clic aquí para donar</a>  
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <h2 class="text-center my-3">Patrocinadores</h2>
        <div class="col-12">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Imagen</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Monto</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td colspan="2">Larry the Bird</td>
                    <td>@twitter</td>
                  </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}

{% block javascripts %}
{% endblock javascripts %}