{% extends 'base.html' %}

{% block title %}Inicio - Cubingmexico{% endblock %}
{% block meta_description %}Cubingmexico - Tu fuente de información para rankings, récords y más en el mundo del cubo Rubik en México.{% endblock %}
{% block meta_keywords %}cubingmexico, Rubik's cube, rankings, récords, competiciones, WCA, México{% endblock %}

{% block content %}

<h1 class="text-center my-3">Bienvenido a Cubingmexico</h1>

<div class="container">
    <div class="row">
      <div class="col mb-3">
        <div class="card text-center">
            <div class="card-body">
              <h5 class="card-title">Rankings nacionales oficiales</h5>
              <p class="card-text">Obtenidos directamente de la <a href="https://www.worldcubeassociation.org/">World Cube Association</a>.</p>
              <a href="{% url 'cubingmexico_web:rankings' event_type='333' ranking_type='single' %}" class="btn btn-primary"><i class="bi bi-reception-4 me-2"></i>Ver rankings</a>
            </div>
        </div>
      </div>
      <div class="col mb-3">
        <div class="card text-center">
            <div class="card-body">
              <h5 class="card-title">Récords nacionales oficiales</h5>
              <p class="card-text">Obtenidos directamente de la <a href="https://www.worldcubeassociation.org/">World Cube Association</a>.</p>
              <a href="{% url 'cubingmexico_web:records' %}" class="btn btn-primary"><i class="bi bi-trophy-fill me-2"></i>Ver récords</a>
            </div>
        </div>
      </div>
      <div class="col mb-3">
        <div class="card text-center">
            <div class="card-body">
              <h5 class="card-title">Teams estatales</h5>
              <p class="card-text">Comunidades de cuberos en cada estado de la república mexicana.</p>
              <a href="{% url 'cubingmexico_web:state_teams' %}" class="btn btn-primary"><i class="bi bi-people-fill me-2"></i>Ver teams</a>
            </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col mb-3">
        <div class="card text-center">
            <div class="card-body">
              <h5 class="card-title">Rankings estatales</h5>
              <p class="card-text">Acorde a la información proporcionada por la <a href="https://www.worldcubeassociation.org/">World Cube Association</a>.</p>
              <a href="{% url 'cubingmexico_web:rankings' event_type='333' state='JAL' ranking_type='single' %}" class="btn btn-primary"><i class="bi bi-reception-4 me-2"></i>Ver rankings</a>
            </div>
        </div>
      </div>
      <div class="col mb-3">
        <div class="card text-center">
            <div class="card-body">
              <h5 class="card-title">Récords estatales</h5>
              <p class="card-text">Acorde a la información proporcionada por la <a href="https://www.worldcubeassociation.org/">World Cube Association</a>.</p>
              <a href="{% url 'cubingmexico_web:records' state='JAL' %}" class="btn btn-primary"><i class="bi bi-trophy-fill me-2"></i>Ver récords</a>
            </div>
        </div>
      </div>
      <div class="col mb-3">
        <div class="card text-center">
            <div class="card-body">
              <h5 class="card-title">Récords nacionales no oficiales (UNRs)</h5>
              <p class="card-text">Récords nacionales no oficiales.</p>
              <a href="#" class="btn btn-primary disabled"><i class="bi bi-reception-4 me-2"></i>Ver UNRs</a>
            </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col mb-3">
        <div class="card text-center">
            <div class="card-body">
              <h5 class="card-title">Sum of Ranks</h5>
              <p class="card-text">Acorde a la información proporcionada por la <a href="https://www.worldcubeassociation.org/">World Cube Association</a>.</p>
              <a href="{% url 'cubingmexico_web:sor' ranking_type='single' %}" class="btn btn-primary"><i class="bi bi-plus-circle-fill me-2"></i>Ver SOR</a>
            </div>
        </div>
      </div>
      <div class="col mb-3">
        <div class="card text-center">
            <div class="card-body">
              <h5 class="card-title">Kinch Ranks</h5>
              <p class="card-text">Acorde a la información proporcionada por la <a href="https://www.worldcubeassociation.org/">World Cube Association</a>.</p>
              <a href="#" class="btn btn-primary disabled"><i class="bi bi-bar-chart-steps me-2"></i>Ver Kinch Ranks</a>
            </div>
        </div>
      </div>
    </div>
</div>

{% endblock %}