{% extends 'base.html' %}

{% block title %}Inicio{% endblock %}

{% block content %}

<h1 class="text-center my-3">Bienvenido a Cubingmexico</h1>

<div class="container">
    <div class="row">
      <div class="col mb-3">
        <div class="card text-center">
            <div class="card-body">
              <h5 class="card-title">Rankings nacionales oficiales</h5>
              <p class="card-text">Obtenidos directamente de la <a href="https://www.worldcubeassociation.org/">World Cube Association</a>.</p>
              <a href="{% url 'cubingmexico_web:national_rankings_single' event_type='333' %}" class="btn btn-primary">Ver rankings</a>
            </div>
        </div>
      </div>
      <div class="col mb-3">
        <div class="card text-center">
            <div class="card-body">
              <h5 class="card-title">Récords nacionales oficiales</h5>
              <p class="card-text">Obtenidos directamente de la <a href="https://www.worldcubeassociation.org/">World Cube Association</a>.</p>
              <a href="{% url 'cubingmexico_web:national_records' %}" class="btn btn-primary">Ver récords</a>
            </div>
        </div>
      </div>
      <div class="col mb-3">
        <div class="card text-center">
            <div class="card-body">
              <h5 class="card-title">Teams estatales</h5>
              <p class="card-text">Comunidades de cuberos en cada estado de la república mexicana.</p>
              <a href="{% url 'cubingmexico_web:state_teams' %}" class="btn btn-primary">Ver teams</a>
            </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col mb-3">
        <div class="card text-center">
            <div class="card-body">
              <h5 class="card-title">Rankings estatales</h5>
              <p class="card-text">Acorde a la información proporcionada por la <a href="https://www.worldcubeassociation.org/">World Cube Association</a>.</p>
              <a href="#" class="btn btn-primary disabled">Ver rankings</a>
            </div>
        </div>
      </div>
      <div class="col mb-3">
        <div class="card text-center">
            <div class="card-body">
              <h5 class="card-title">Récords estatales</h5>
              <p class="card-text">Acorde a la información proporcionada por la <a href="https://www.worldcubeassociation.org/">World Cube Association</a>.</p>
              <a href="#" class="btn btn-primary disabled">Ver récords</a>
            </div>
        </div>
      </div>
      <div class="col mb-3">
        <div class="card text-center">
            <div class="card-body">
              <h5 class="card-title">Récords nacionales no oficiales (UNRs)</h5>
              <p class="card-text">Récords nacionales no oficiales.</p>
              <a href="#" class="btn btn-primary disabled">Ver UNRs</a>
            </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col mb-3">
        <div class="card text-center">
            <div class="card-body">
              <h5 class="card-title">Rankings nacionales de categorías que han sido removidas de su estatus oficial</h5>
              <p class="card-text">Acorde a la información proporcionada por la <a href="https://www.worldcubeassociation.org/">World Cube Association</a>.</p>
              <a href="#" class="btn btn-primary disabled">Ver rankings</a>
            </div>
        </div>
      </div>
      <div class="col mb-3">
        <div class="card text-center">
            <div class="card-body">
              <h5 class="card-title">Récords nacionales de categorías que han sido removidas de su estatus oficial</h5>
              <p class="card-text">Acorde a la información proporcionada por la <a href="https://www.worldcubeassociation.org/">World Cube Association</a>.</p>
              <a href="#" class="btn btn-primary disabled">Ver récords</a>
            </div>
        </div>
      </div>
    </div>
</div>

{% endblock %}