{% extends 'base.html' %}

{% block title %}Perfil{% endblock %}

{% block content %}

<h1 class="my-3">Perfil</h1>

<div class="row">
    <div class="col-md-6 col-12 mb-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ user.wcaprofile.name }}</h5>
                <p class="card-text">
                  {% if user.wcaprofile.wca_id %}
                    WCA ID: {{ user.wcaprofile.wca_id }}
                  {% else %}
                    Todavía no tienes un WCA ID
                  {% endif %}
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Detalles</h5>
                <p class="card-text">
                    <!-- <p>Te uniste a la WCA el {{ user.wcaprofile.wca_created_at }}</p> -->
                    <p>Te uniste a Cubingmexico el {{ user.date_joined }}</p>
                    <hr>
                    {% if user.wcaprofile.country_iso2 == 'MX' %}
                        <p>Acorde a tu información de la WCA, vives en México.</p>
                        <form action="{% url 'cubingmexico_web:profile' %}" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="{{ form.state.id_for_label }}" class="mb-1"><strong>Estado:</strong></label>
                            <select name="{{ form.state.name }}" required id="{{ form.state.id_for_label }}" class="form-control">
                            {% for value, label in form.fields.state.choices %}
                                <option value="{{ value }}" {% if form.state.value == value %}selected{% endif %}>{{ label }}</option>
                            {% endfor %}
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary mt-2">Guardar</button>
                        </form>
                    {% else %}
                        <p>Acorde a tu información de la WCA, no vives en México.</p>
                    {% endif %}
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}