{% extends 'base.html' %}

{% load static %}

{% block title %}Donaciones - Cubing México{% endblock %}

{% block meta_title %}Donaciones - Cubing México{% endblock %}
{% block meta_type %}website{% endblock %}
{% block meta_url %}https://cubingmexico.net/donations/{% endblock %}
{% block meta_image %}{% static 'img/cubingmexico_logo.png' %}{% endblock %}

{% block meta_description %}Apoya a Cubing México con una donación y conoce a nuestros generosos donadores. Contribuye a mantener este valioso recurso para la comunidad de speedcubers en México y sigue promoviendo el speedcubing en el país.{% endblock %}
{% block meta_keywords %}Donaciones, apoyo, Cubing México, speedcubing, comunidad, donadores, patrocinadores{% endblock %}

{% block content %}

<h1 class="text-center my-3">Donaciones y patrocinadores</h1>

<div class="container">
    <h2 class="text-center my-3">Donaciones</h2>
    <div class="row">
        <h3>¡Apoya a Cubing México!</h3>
        <p>Cubing México es un recurso valioso para la comunidad de entusiastas del cubo Rubik y el speedcubing en México. Mantener este sitio web en funcionamiento requiere pagar un pequeño monto de alojamiento. Si valoras nuestro trabajo y deseas contribuir al sostenimiento del sitio, te ofrecemos la opción de hacer donaciones a través de PayPal.</p>
        <h3>¿Cuánto se necesita?</h3>
        <p>Para mantener Cubing México, necesitamos alrededor de $200 MXN al mes. Si lo piensas bien, esto es equivalente al costo de un servicio de streaming promedio en México. Por ejemplo, si compartiéramos una cuenta entre 20 personas, cada uno solo tendría que aportar $10 MXN. Cualquier monto que decidas donar será bien recibido y nos ayudará a mantener viva esta comunidad de cuberos en México.</p>

    </div>
    <div class="row">
        <div class="col-12 mb-3">
            <div class="card text-center">
                <div class="card-body">
                    <h4 class="card-title fs-5">¿Cómo puedes donar?</h4>
                    <p class="card-text">Es sencillo. Utilizamos PayPal para procesar nuestras donaciones de manera segura y eficiente. Simplemente haz clic en el botón de donación a continuación y podrás realizar tu aporte. ¡Cada donación, por pequeña que sea, es una contribución valiosa para seguir manteniendo y mejorando Cubing México!</p>
                    <p><strong>Si deseas aparecer en la lista de abajo, escribe tu nombre al momento de hacer la donación.</strong></p>
                    <a href="https://www.paypal.com/donate/?hosted_button_id=ZRWXP6B78SQDY" class="btn btn-primary">Donar <i class="bi bi-paypal"></i></a>  
                </div>
            </div>
        </div>
        <div class="col-12 mb-3">
            <div class="card text-center">
                <div class="card-body">
                    <h4 class="card-title fs-5">¿Prefieres donar mediante otro método?</h4>
                    <p class="card-text">Por ejemplo, mediante transferencia interbancaria o alguna otra propuesta, si es así, ponte en contacto con nosotros mediante <a href="https://www.facebook.com/CubingMexico" class="text-decoration-none">Facebook</a>.</p>
                </div>
            </div>
        </div>
        <h3 class="text-center my-3">Donadores del mes</h3>
        <p>A continuación se muestran los donadores (estos se agregan de manera manual, por lo que si acabas de donar y no apareces te pedimos ser paciente):</p>
        <div class="row">
            <div class="col-12">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Monto</th>
                        <th scope="col">Fecha</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% if this_month_donors %}
                            {% for donor in this_month_donors %}
                            <tr>
                                <td scope="row">{{ forloop.counter }}</td>
                                <td>{{ donor.name }}</td>
                                <td>${{ donor.amount }} MXN</td>
                                <td>{{ donor.donation_date }}</td>
                            </tr>
                            {% endfor %}
                        {% else %}
                            <tr><td colspan="4">Parece que nadie ha donado este mes, <a href="https://www.paypal.com/donate/?hosted_button_id=ZRWXP6B78SQDY" class="text-decoration-none">¡sé el primero!</a></td></tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <p>¡Gracias por ser parte de la comunidad de Cubing México y por considerar hacer una donación para apoyarnos!</p>
        </div>
        <button type="button" class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#pastMonthDonors">
            Mostrar donadores del mes pasado
        </button>
        <div id="pastMonthDonors" class="collapse">
            <h3 class="text-center my-3">Donadores del mes pasado</h3>
            <div class="row">
                <div class="col-12">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Monto</th>
                            <th scope="col">Fecha</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for donor in last_month_donors %}
                            <tr>
                                <td scope="row">{{ forloop.counter }}</td>
                                <td>{{ donor.name }}</td>
                                <td>${{ donor.amount }} MXN</td>
                                <td>{{ donor.donation_date }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-secondary my-3" data-bs-toggle="collapse" data-bs-target="#lifetimeDonors">
            Mostrar todos los donadores
        </button>
        <div id="lifetimeDonors" class="collapse">
            <h3 class="text-center my-3">Todos los donadores</h3>
            <div class="row">
                <div class="col-12">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Monto</th>
                            <th scope="col">Fecha</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for donor in lifetime_donors %}
                            <tr>
                                <td scope="row">{{ forloop.counter }}</td>
                                <td>{{ donor.name }}</td>
                                <td>${{ donor.amount }} MXN</td>
                                <td>{{ donor.donation_date }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <h2 class="text-center my-3">Patrocinadores</h2>
    <p>Si eres dueño de algún negocio y deseas que este aparezca como patrocinador, asegúrate de escribir el nombre al momento de donar.</p>
    <div class="row">
        {% for sponsor in sponsors %}
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-3">
            <div class="card">
                <img class="card-img-top" src="{{ sponsor.sponsor_logo.url }}" alt="Logo del patrocinador">
                <div class="card-body text-center">
                  <h2 class="card-title fs-5">{{ sponsor.name }}</h2>
                  <p class="card-text">{{ sponsor.description }}</p>
                  <a href="{{ sponsor.link }}" class="btn btn-primary">Ver patrocinador</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}