{% extends 'base.html' %}

{% block title %}Donaciones - Cubing México{% endblock %}
{% block meta_description %}{% endblock %}
{% block meta_keywords %}{% endblock %}

{% load static %}

{% block content %}

<h1 class="text-center my-3">Donaciones y Patrocinadores</h1>

<div class="container">
    <h2 class="text-center my-3">Donaciones</h2>
    <div class="row">
        <h3>¡Apoya a Cubing México!</h3>
        <p>Cubing México es un recurso valioso para la comunidad de entusiastas del cubo Rubik y el speedcubing en México. Mantener este sitio web en funcionamiento requiere pagar un pequeño monto de alojamiento. Si valoras nuestro trabajo y deseas contribuir al sostenimiento del sitio, te ofrecemos la opción de hacer donaciones a través de PayPal.</p>
        <h3>¿Cuánto se necesita?</h3>
        <p>Para mantener Cubing México, necesitamos alrededor de $200 MXN al mes. Si lo piensas bien, esto es equivalente al costo de un servicio de streaming promedio en México. Por ejemplo, si compartiéramos una cuenta entre 20 personas, cada uno solo tendría que aportar $10 MXN. Cualquier monto que decidas donar será bien recibido y nos ayudará a mantener viva esta comunidad de cuberos en México.</p>

    </div>
    <div class="row">
        <div class="col-12 mb-3">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">¿Cómo puedes donar?</h5>
                    <p class="card-text">Es sencillo. Utilizamos PayPal para procesar nuestras donaciones de manera segura y eficiente. Simplemente haz clic en el botón de donación a continuación y podrás realizar tu aporte. ¡Cada donación, por pequeña que sea, es una contribución valiosa para seguir manteniendo y mejorando Cubing México!</p>
                    <p><strong>Si deseas aparecer en la lista de abajo, escribe tu nombre al momento de hacer la donación.</strong></p>
                    <a href="https://www.paypal.com/donate/?hosted_button_id=ZRWXP6B78SQDY" class="btn btn-primary">Donar <i class="bi bi-paypal"></i></a>  
                </div>
            </div>
        </div>
        <h3 class="text-center my-3">Donadores</h3>
        <p>A continuación se muestran los donadores (estos se agregan de manera manual, por lo que si acabas de donar y no apareces te pedimos ser paciente):</p>
        <div class="row">
            <div class="col-12">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Monto</th>
                        <th scope="col">Fecha</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        {% for donor in donors %}
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ donor.name }}</td>
                            <td>${{ donor.amount }} MXN</td>
                            <td>{{ donor.donation_date }}</td>
                        {% endfor %}
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <p>¡Gracias por ser parte de la comunidad de Cubing México y por considerar hacer una donación para apoyarnos!</p>
    </div>
    <h2 class="text-center my-3">Patrocinadores</h2>
    <div class="row">
        {% for sponsor in sponsors %}
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-3">
            <div class="card">
                <img class="card-img-top" src="{{ sponsor.sponsor_logo.url }}" alt="Logo del patrocinador">
                <div class="card-body text-center">
                  <h5 class="card-title">{{ sponsor.name }}</h5>
                  <p class="card-text">{{ sponsor.description }}</p>
                  <a href="{{ sponsor.link }}" class="btn btn-primary">Ver patrocinador</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}