{% extends 'base.html' %}

{% block title %}Añadir miembro a {{ state_team.name }}{% endblock %}

{% block content %}

<h1 class="my-3">Añadir miembro a {{ state_team.name }}</h1>

<div class="row">
    <div class="col-12 mb-3">
        <div class="card">
            <div class="card-header text-center">
                <h4>Añadir miembro</h4>
            </div>
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Añadir</button>
                    <a href="{% url 'cubingmexico_web:team' pk=state_team.pk %}" class="btn btn-secondary">Atrás</a>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}