{% extends 'base.html' %}

{% block title %}Editar {{ object.name }} - Cubing México{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
{% endblock stylesheets %}

{% block content %}

<h1 class="my-3">Editar {{ object.name }}</h1>

<div class="row">
    <div class="col-12 mb-3">
        <div class="card">
            <div class="card-header text-center">
                <h4>Información del Team</h4>
            </div>
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-success"><i class="bi bi-check-lg me-2"></i>Guardar</button>
                    <a href="{% url 'cubingmexico_web:team' team_code=object.state.three_letter_code %}" class="btn btn-danger"><i class="bi bi-x-lg me-2"></i>Cancelar</a>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}