{% extends 'base.html' %}

{% load static %}

{% block title %}{{ object.name }} - Cubing México{% endblock %}

{% block meta_title %}{{ object.name }} - Cubing México{% endblock %}
{% block meta_type %}website{% endblock %}
{% block meta_url %}https://cubingmexico.net/team/{{ object.state.three_letter_code }}/{% endblock %}
{% block meta_image %}{% if object.team_logo %}{{ object.team_logo.url }}{% else %}{% endif %}{% endblock %}

{% block meta_description %}Conoce más sobre el {{ object.name }} de speedcubing en México. Descubre a los competidores de {{ object.state.name }}, récords y competiciones.{% endblock %}
{% block meta_keywords %}{{ object.name }}, speedcubing, jugadores destacados, logros, competiciones, cubo Rubik, México, {{ object.state.name }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.5.0/css/responsive.bootstrap5.min.css">
{% endblock stylesheets %}

{% block content %}
<div class="row my-3">
    <div class="col text-center">
        <div class="card mx-auto" style="width: 24rem;">
            <div class="card-header">
                <h3>{{ object.name }}</h3>
            </div>
            <div class="card-body">
                {% if object.team_logo %}
                    <img src="{{ object.team_logo.url }}" class="rounded mx-auto d-block mb-3" width="300px" alt="Logotipo de {{ object.name }}">
                {% else %}
                    <img src="" class="rounded mx-auto d-block mb-3" width="300px" alt="Logotipo de {{ object.name }}">
                {% endif %}
                <p>{{ object.description }}</p>
                {% if object.phone_number != '' %}
                    <p><a href="https://wa.me/{{ object.phone_number }}" class="text-decoration-none link-secondary"><i class="bi bi-whatsapp m-1"></i>{{ object.phone_number }}</a></p>
                {% endif %}
                {% if object.email != '' %}
                    <p><a href="mailto:{{ object.email }}" class="text-decoration-none link-secondary"><i class="bi bi-envelope-fill m-1"></i>{{ object.email }}</a></p>
                {% endif %}
                <p class="h3">
                    {% if object.facebook_link != '' %}
                        <a href="{{ object.facebook_link }}" class="link-secondary"><i class="bi bi-facebook m-1"></i></a>
                    {% endif %}
                    {% if object.instagram_link != '' %}
                        <a href="{{ object.instagram_link }}" class="link-secondary"><i class="bi bi-instagram m-1"></i></a>
                    {% endif %}
                </p>
                <p>
                    {% if user.is_authenticated and user.cubingmexicoprofile.is_state_team_leader and user.cubingmexicoprofile.person_state_team.state_team_id == object.pk %}
                        <a href="{% url 'cubingmexico_web:edit_team' team_code=object.state.three_letter_code %}" class="btn btn-info mb-2"><i class="bi bi-pencil-fill me-2"></i>Editar información del team</a>
                        <a href="{% url 'cubingmexico_web:add_member' team_code=object.state.three_letter_code %}" class="btn btn-info mb-2"><i class="bi bi-person-plus-fill me-2"></i>Añadir miembro al team</a>
                    {% endif %}
                    <a href="{% url 'cubingmexico_web:rankings' event_type='333' ranking_type='single' state=object.state.three_letter_code gender='a' %}" class="btn btn-primary mb-2"><i class="bi bi-reception-4 me-2"></i>Ver rankings de {{ object.state.name }}</a>
                    <a href="{% url 'cubingmexico_web:records' gender='a' state=object.state.three_letter_code %}" class="btn btn-primary mb-2"><i class="bi bi-trophy-fill me-2"></i>Ver récords de {{ object.state.name }}</a>
                    <a href="{% url 'cubingmexico_web:sor' ranking_type='single' state=object.state.three_letter_code %}" class="btn btn-primary mb-2 mx-2"><i class="bi bi-plus-circle-fill me-2"></i>Ver SOR de {{ object.state.name }}</a>
                    <a href="{% url 'cubingmexico_web:kinch' state=object.state.three_letter_code %}" class="btn btn-primary mb-2 mx-2"><i class="bi bi-bar-chart-steps me-2"></i>Ver Kinch de {{ object.state.name }}</a>
                    <a href="{% url 'cubingmexico_web:state_teams' %}" class="btn btn-secondary"><i class="bi bi-people-fill me-2"></i>Ver otros teams</a>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <h2 class="card-title text-center fs-5">Miembros del {{ object.name }}</h2>
            </div>
            <div class="card-body">
                <table id="members" class="table table-striped" style="width:100%">
                    <thead>
                        <tr>
                            <th>WCAID</th>
                            <th>Nombre</th>
                            <th>SR</th>
                            {% if user.is_authenticated and user.cubingmexicoprofile.is_state_team_leader and user.cubingmexicoprofile.person_state_team.state_team_id == object.pk %}
                                <th>Acciones</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for auth_member in auth_team_members %}
                            <tr>
                                <td scope="row">
                                    <img src="{% static 'img/cubingmexico_logo.svg' %}" width="20" alt="Cubing México" class="me-2" title="Perfil de Cubing México">
                                    <a href="{% url 'cubingmexico_web:my_results' wca_id=auth_member.wcaprofile.wca_id %}" class="text-decoration-none">{{ auth_member.wcaprofile.wca_id }}</a>
                                </td>
                                <td>
                                    {{ auth_member.wcaprofile.name }}
                                    {% if auth_member.cubingmexicoprofile.is_state_team_leader %}
                                    - <strong>Administrador del Team</strong>
                                    {% endif %}
                                </td>
                                <td>
                                    {{ auth_member.sr_count }}
                                </td>
                                {% if user.is_authenticated and user.cubingmexicoprofile.is_state_team_leader and user.cubingmexicoprofile.person_state_team.state_team_id == object.pk %}
                                    <td><a href="{% url 'cubingmexico_web:remove_member' team_code=object.state.three_letter_code pk=auth_member.cubingmexicoprofile.person_state_team_id %}" class="link-danger text-decoration-none">Quitar miembro <i class="bi bi-x-circle-fill"></i></a></td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        {% for member in team_members %}
                            <tr>
                                <td scope="row">
                                    <img src="https://www.worldcubeassociation.org/files/WCAlogo_notext.svg" alt="WCA" width="20" class="me-2" title="Perfil de la WCA">
                                    <a href="https://www.worldcubeassociation.org/persons/{{ member.person.id }}" class="link-secondary text-decoration-none">{{ member.person.id }}</a>
                                </td>
                                <td>
                                    {{ member.person.name }}
                                </td>
                                <td>
                                    {{ member.sr_count }}
                                </td>
                                {% if user.is_authenticated and user.cubingmexicoprofile.is_state_team_leader and user.cubingmexicoprofile.person_state_team.state_team_id == object.pk %}
                                    <td><a href="{% url 'cubingmexico_web:remove_member' team_code=object.state.three_letter_code pk=member.pk %}" class="link-danger text-decoration-none">Quitar miembro <i class="bi bi-x-circle-fill"></i></a></td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>WCAID</th>
                            <th>Nombre</th>
                            <th>SR</th>
                            {% if user.is_authenticated and user.cubingmexicoprofile.is_state_team_leader and user.cubingmexicoprofile.person_state_team.state_team_id == object.pk %}
                                <th>Acciones</th>
                            {% endif %}
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

{% if user.is_authenticated and user.cubingmexicoprofile.state == object.state and user.cubingmexicoprofile.person_state_team == None %}
    <p class="text-center">
        <div class="modal" tabindex="-1" id="join_team_modal">
            <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title fs-5">¡Atención!</h2>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Esta es una comunidad de cuberos en {{ object.state }}, para unirte
                    {% if object.facebook_link == '' and object.instagram_link == '' and object.phone_number == '' and object.email == '' %}
                    envía un mensaje a <a href="https://www.facebook.com/CubingMexico" class="text-decoration-none">esta página</a>.
                    {% else %}
                    contáctalos a través de alguno de los siguientes medios:
                    <ul>
                        {% if object.facebook_link != '' %}
                            <li><a href="{{ object.facebook_link }}" class="link-secondary text-decoration-none"><i class="bi bi-facebook m-1"></i>{{ object.facebook_link }}</a></li>
                        {% endif %}
                        {% if object.instagram_link != '' %}
                            <li><a href="{{ object.instagram_link }}" class="link-secondary text-decoration-none"><i class="bi bi-instagram m-1"></i>{{ object.instagram_link }}</a></li>
                        {% endif %}
                        {% if object.phone_number != '' %}
                            <li><a href="https://wa.me/{{ object.phone_number }}" class="link-secondary text-decoration-none"><i class="bi bi-whatsapp m-1"></i>{{ object.phone_number }}</a></li>
                        {% endif %}
                        {% if object.email != '' %}
                            <li><a href="mailto:{{ object.email }}" class="link-secondary text-decoration-none"><i class="bi bi-envelope-fill m-1"></i>{{ object.email }}</a></li>
                        {% endif %}
                    </ul>
                    {% endif %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
                </div>
            </div>
        </div>
    </p>
{% endif %}

<div class="accordion mt-3" id="accordionExample">
    <h1 class="fs-3 my-3">Preguntas frecuentes</h1>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          <strong>¿Por qué no aparezco como miembro del {{ object.name }}? :(</strong>
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
            Si no apareces como miembro del team es porque no has participado en una competencia oficial de la <a href="https://www.worldcubeassociation.org/" class="text-decoration-none">World Cube Association</a> o porque no has sido agregado por algún administrador, recuerda que todos pueden ser parte de un team, el único requisito es que vivas en el mismo estado, si cumples con lo anterior mencionado,
            {% if object.facebook_link == '' and object.instagram_link == '' and object.phone_number == '' and object.email == '' %}
            envía un mensaje a <a href="https://www.facebook.com/CubingMexico" class="text-decoration-none">esta página</a>.
            {% else %}
            contáctate con el {{ object.name }} a través de alguno de los medios que aparecen a continuación para que puedan agregarte:
            <ul>
                {% if object.facebook_link != '' %}
                    <li><a href="{{ object.facebook_link }}" class="link-secondary text-decoration-none"><i class="bi bi-facebook m-1"></i>{{ object.facebook_link }}</a></li>
                {% endif %}
                {% if object.instagram_link != '' %}
                    <li><a href="{{ object.instagram_link }}" class="link-secondary text-decoration-none"><i class="bi bi-instagram m-1"></i>{{ object.instagram_link }}</a></li>
                {% endif %}
                {% if object.phone_number != '' %}
                    <li><a href="https://wa.me/{{ object.phone_number }}" class="link-secondary text-decoration-none"><i class="bi bi-whatsapp m-1"></i>{{ object.phone_number }}</a></li>
                {% endif %}
                {% if object.email != '' %}
                    <li><a href="mailto:{{ object.email }}" class="link-secondary text-decoration-none"><i class="bi bi-envelope-fill m-1"></i>{{ object.email }}</a></li>
                {% endif %}
            </ul>
            {% endif %}
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          <strong>¿Por qué aparece tal persona en este team si ni siquiera vive en {{ object.state }}?</strong>
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          Puede deberse a que la persona se cambió recientemente de residencia o simplemente a algún error de un administrador del team, puedes enviar un mensaje a <a href="https://www.facebook.com/CubingMexico" class="text-decoration-none">esta página</a> para que podamos revisarlo.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          <strong>Vivo en {{ object.state }} pero no quiero pertenecer al {{ object.name }}, ¿qué puedo hacer?</strong>
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          Para poder aparecer en los rankings y récords estatales de {{ object.state }} sin tener que ser miembro del {{ object.name }} tienes que hacer lo siguiente:
          <ol>
            <li>Haber participado en una competencia oficial avalada por la <a href="https://www.worldcubeassociation.org/" class="text-decoration-none">World Cube Association</a>.</li>
            {% if not user.is_authenticated %}
            <li><a href="{{ wca_login_uri }}" class="text-decoration-none">Iniciar sesión en Cubing México</a> utilizando tus credenciales de la WCA.</li>
            {% else %}
            <li>Iniciar sesión en Cubing México utilizando tus credenciales de la WCA.</li>
            {% endif %}
            {% if user.cubingmexicoprofile.person_state_team %}
            <li>Ir a tu <a href="{% url 'cubingmexico_web:my_results' wca_id=request.user.wcaprofile.wca_id %}" class="text-decoration-none">Perfil</a> y seleccionar tu estado.</li>
            {% else %}
            <li>Ir a tu Perfil y seleccionar tu estado.</li>
            {% endif %}
          </ol>
        </div>
      </div>
    </div>
</div>

{% endblock %}

{% block javascripts %}

<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.5.0/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.5.0/js/responsive.bootstrap5.min.js"></script>

<script>
    $(document).ready(function () {
        $('#members').DataTable({
            responsive: true,
            "language": {
                url: '//cdn.datatables.net/plug-ins/1.13.4/i18n/es-ES.json',
            }
        });
    });
</script>

<script>
    $(document).ready(function(){
        $('#join_team_modal').modal('show');
    });
</script>    
{% endblock javascripts %}