{% extends 'base.html' %}

{% block title %}{{ object.name }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css">
{% endblock stylesheets %}

{% block content %}
<div class="row my-3">
    <div class="col text-center">
        <div class="card mx-auto" style="width: 24rem;">
            <div class="card-header">
                <h3>{{ object.name }}</h3>
            </div>
            <div class="card-body">
                {% if object.team_logo %}
                    <img src="{{ object.team_logo.url }}" class="rounded mx-auto d-block mb-3" height="300px" alt="Logotipo de {{ object.name }}">
                {% else %}
                    <img src="" class="rounded mx-auto d-block mb-3" height="300px" alt="Logotipo de {{ object.name }}">
                {% endif %}
                <p>{{ object.description }}</p>
                <p class="h3">
                    {% if object.facebook_link != '' %}
                        <a href="{{ object.facebook_link }}" class="link-dark"><i class="bi bi-facebook m-1"></i></a>
                    {% endif %}
                    {% if object.instagram_link != '' %}
                        <a href="{{ object.instagram_link }}" class="link-dark"><i class="bi bi-instagram m-1"></i></a>
                    {% endif %}
                </p>
                <p>
                    {% if user.is_authenticated and user.cubingmexicoprofile.is_state_team_leader and user.cubingmexicoprofile.person_state_team.state_team_id == object.pk %}
                        <a href="{% url 'cubingmexico_web:edit_team' team_code=object.state.three_letter_code %}" class="btn btn-primary mb-2"><i class="bi bi-pencil-fill me-2"></i>Editar información del Team</a>
                        <a href="{% url 'cubingmexico_web:add_member' team_code=object.state.three_letter_code %}" class="btn btn-dark mb-2"><i class="bi bi-person-plus-fill me-2"></i>Añadir miembro al Team</a>
                    {% endif %}
                    <a href="{% url 'cubingmexico_web:state_teams' %}" class="btn btn-secondary"><i class="bi bi-people-fill me-2"></i>Ver otros Teams</a>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title text-center">Miembros del {{ object.name }}</h5>
            </div>
            <div class="card-body">
                <table id="members" class="table table-striped" style="width:100%">
                    <thead>
                        <tr>
                            <th>WCAID</th>
                            <th>Nombre</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for auth_member in auth_team_members %}
                            <tr>
                                <td><a href="{% url 'cubingmexico_web:my_results' wca_id=auth_member.wcaprofile.wca_id %}">{{ auth_member.wcaprofile.wca_id }}</a></td>
                                <td>
                                    {{ auth_member.wcaprofile.name }}
                                    {% if auth_member.cubingmexicoprofile.is_state_team_leader %}
                                    - <strong>Administrador del Team</strong>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        {% for member in team_members %}
                            <tr>
                                <td><a href="https://www.worldcubeassociation.org/persons/{{ member.person.id }}" class="link-secondary">{{ member.person.id }}</a></td>
                                <td>{{ member.person.name }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>WCAID</th>
                            <th>Nombre</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

{% if user.is_authenticated and user.cubingmexicoprofile.state == object.state and user.cubingmexicoprofile.person_state_team == None %}
    <p class="text-center">
        <div class="modal" tabindex="-1" id="join_team_modal">
            <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">¡Atención!</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Esta es una comunidad de cuberos en {{ object.state }}, para unirte contáctalos en sus redes sociales:</p>
                    {% if object.facebook_link != '' %}
                        <p><a href="{{ object.facebook_link }}"><i class="bi bi-facebook me-1"></i>{{ object.facebook_link }}</a></p>
                    {% endif %}
                    {% if object.instagram_link != '' %}
                        <p><a href="{{ object.instagram_link }}"><i class="bi bi-instagram me-1"></i>{{ object.instagram_link }}</a></p>
                    {% endif %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
                </div>
            </div>
        </div>
    </p>
{% endif %}

{% endblock %}

{% block javascripts %}
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script>

<script>
    $(document).ready(function () {
        $('#members').DataTable({
            "language": {
                url: '//cdn.datatables.net/plug-ins/1.13.4/i18n/es-ES.json',
            }
        });
    });
</script>

<script>
    $(document).ready(function(){
        $('#join_team_modal').modal('show');
    });
</script>    
{% endblock javascripts %}