{% extends 'base.html' %}

{% load static %}

{% block title %}Teams estatales - Cubing México{% endblock %}

{% block meta_title %}Teams estatales - Cubing México{% endblock %}
{% block meta_type %}website{% endblock %}
{% block meta_url %}https://cubingmexico.org/teams/{% endblock %}
{% block meta_image %}{% static 'img/cubingmexico_logo.png' %}{% endblock %}

{% block meta_description %}Explora los teams o equipos estatales de speedcubing en México y descubre los speedcubers más destacados. Conoce más sobre la comunidad del cubo Rubik en México.{% endblock %}
{% block meta_keywords %}equipos, speedcubing, cubo Rubik, México, jugadores, competiciones, teams, estados{% endblock %}

{% block content %}

<h1 class="text-center my-3">Teams estatales</h1>

<div class="card mb-3">
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>"Los teams, esa gente que por placer se reúnen en plazas, que se contagian de entusiasmo al mirar los logros de sus miembros, que empujan a otros y que en conjunto comparten su pasión por el speedcubing."</p>
        <footer class="blockquote-footer">Aru Gordillo, <cite title="Source Title">Delegada de la WCA en México</cite></footer>
      </blockquote>
    </div>
</div>

<div class="container">
    <div class="row">
        {% if state_teams %}
            {% for team in state_teams %}
            <div class="col-lg-4 d-flex align-items-stretch text-center mb-3">
                <div class="card mx-auto" style="width: 18rem;">
                    {% if team.team_logo %}
                        <img src="{{ team.team_logo.url }}" class="card-img-top" alt="Logotipo de {{ team.name }}">
                    {% else %}
                        <img src="" class="card-img-top" alt="Logotipo de {{ team.name }}">
                    {% endif %}
                    <div class="card-body">
                    <h2 class="card-title fs-5">{{ team.name }}</h2>
                    <p class="card-text">{{ team.description|truncatewords:20 }}</p>
                    <p class="card-text"><strong>Estado:</strong> {{ team.state }}</p>
                    <a href="{% url 'cubingmexico_web:team' team_code=team.state.three_letter_code %}" class="btn btn-primary"><i class="bi bi-people-fill me-2"></i>Ver Team</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% endif %}
    </div>
</div>

{% endblock %}