{% extends 'base_rankings.html' %}

{% block title %}Ranking nacional de 3x3x3 Múltiples A Ciegas{% endblock %}

{% block rankingtitle %}
<h1 class="my-3">Ranking nacional de 3x3x3 Múltiples A Ciegas</h1>
{% endblock %}

{% block content %}
    {% load time_formatter_333mbf %}

    {% for result in single_333mbf %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td><a href="https://www.worldcubeassociation.org/persons/{{ result.person.id }}" class="text-decoration-none">{{ result.person_name }}</a></td>
        <td>{{ result.best|time_formatter_333mbf }}</td>
        <td>{{ result.competition.name }}</td>
    </tr>
    {% endfor %}
{% endblock %}