{% extends 'base.html' %}

{% block title %}Récords nacionales{% endblock %}

{% load static %}
{% load divide_by_100 %}
{% load time_formatter %}
{% load time_formatter_333mbf %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'css/cubing-icons.css' %}">
{% endblock stylesheets %}

{% block content %}
    <h1 class="my-3">Récords nacionales</h1>
    <h2 class="my-3">Single</h2>
    <table class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Evento</th>
                <th>Nombre</th>
                <th>Resultado</th>
                <th>Competencia</th>
            </tr>
        </thead>
        <tbody>
        {% for record in single_records %}
            <tr>
                <td>
                    <span class="cubing-icon event-{{ record.event.id }} m-1 h4 text-dark"></span>
                    {% for event in events %}
                        {% if event.id == selected_event %}
                            {{ event.name }}
                        {% endif %}
                    {% endfor %}
                </td>
                <td><a href="https://www.worldcubeassociation.org/persons/{{ record.person.id }}" class="text-decoration-none">{{ record.person_name }}</a></td>
                {% if record.event.id == '333mbf' %}
                <td>{{ record.best|time_formatter_333mbf }}</td>
                {% elif record.event.id == '333fm' %}
                <td>{{ record.best }}</td>
                {% else %}
                <td>{{ record.best|time_formatter }}</td>
                {% endif %}
                <td>{{ record.competition.name }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <h2 class="my-3">Average</h2>
    <table class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Evento</th>
                <th>Nombre</th>
                <th>Resultado</th>
                <th>Competencia</th>
            </tr>
        </thead>
        <tbody>
        {% for record in average_records %}
            <tr>
                <td>
                    <span class="cubing-icon event-{{ record.event.id }} m-1 h4 text-dark"></span>
                    {% for event in events %}
                        {% if event.id == selected_event %}
                            {{ event.name }}
                        {% endif %}
                    {% endfor %}
                </td>
                <td><a href="https://www.worldcubeassociation.org/persons/{{ record.person.id }}" class="text-decoration-none">{{ record.person_name }}</a></td>
                {% if record.event.id == '333fm' %}
                <td>{{ record.average }}</td>
                {% else %}
                <td>{{ record.average|time_formatter }}</td>
                {% endif %}
                <td>{{ record.competition.name }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    
{% endblock %}

{% block javascripts %}{% endblock javascripts %}