{% extends 'base.html' %}

{% block title %}
    {% if selected_state %}
        Récords estatales de
        {% for state in states %}
            {% if state.three_letter_code == selected_state %}
                {{ state.name }}
            {% endif %}
        {% endfor %}
    {% else %}
        Récords nacionales
    {% endif %}
     - Cubing México
{% endblock %}

{% block meta_description %}{% if selected_state %}{% for state in states %}{% if state.three_letter_code == selected_state %}Explora los récords estatales de {{ state.name }} en el mundo del cubo Rubik en México.{% endif %}{% endfor %}{% else %}Descubre los récords nacionales en el mundo del cubo Rubik en México.{% endif %}{% endblock %}

{% block meta_keywords %}{% if selected_state %}{% for state in states %}{% if state.three_letter_code == selected_state %}récords estatales, {{ state.name }}, cubo Rubik, México, SR, State Record{% endif %}{% endfor %}{% else %}récords nacionales, cubo Rubik, México, NR, National Record{% endif %}{% endblock %}

{% load static %}
{% load divide_by_100 %}
{% load time_formatter %}
{% load time_formatter_333mbf %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">

    <link rel="stylesheet" href="{% static 'css/cubing-icons.css' %}">
{% endblock stylesheets %}

{% block content %}
    <div class="row">
        <div class="col-12 col-sm-9">
            <h1 class="my-3">
            {% if selected_state %}
                Récords estatales de
                {% for state in states %}
                    {% if state.three_letter_code == selected_state %}
                        {{ state.name }}
                    {% endif %}
                {% endfor %}
            {% else %}
                Récords nacionales
            {% endif %}
            </h1>
        </div>
        <div class="col-12 col-sm-3 d-flex justify-content-center my-3">
            <form>
                <label for="state-select"><strong>Selecciona un estado</strong></label>
                <select class="form-select" id="state-select" onchange="location = this.value;">
                    <option value="{% url 'cubingmexico_web:records' %}">Todo el país</option>
                  {% for state in states %}
                    <option value="{% url 'cubingmexico_web:records' state=state.three_letter_code %}" {% if state.three_letter_code == selected_state %}selected{% endif %}>{{ state.name }}</option>
                  {% endfor %}
                </select>
            </form>
        </div>
    </div>
    <!-- <div class="row">
        <div class="col-12">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="excludedEventsSwitch" {% if 'removed' in include_excluded_events %} checked {% endif %}>
                <label class="form-check-label" for="excludedEventsSwitch">Mostrar categorías con status oficial removido 
                    (<span class="cubing-icon event-333ft text-dark"></span>,
                    <span class="cubing-icon event-magic text-dark"></span>,
                    <span class="cubing-icon event-mmagic text-dark"></span>)</label>
            </div>
        </div>
    </div> -->

    {% if single_records and average_records %}
    <h2 class="my-3">Single</h2>
    <table class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Evento</th>
                <th>Nombre</th>
                <th>Resultado</th>
                <th>Competencia</th>
            </tr>
        </thead>
        <tbody>
        {% for record in single_records %}
            <tr>
                <td>
                    <span class="cubing-icon event-{{ record.event.id }} m-1 h4 text-body"></span>
                    {% for event in events %}
                        {% if event.id == selected_event %}
                            {{ event.name }}
                        {% endif %}
                    {% endfor %}
                </td>
                <td><a href="https://www.worldcubeassociation.org/persons/{{ record.person.id }}" class="text-decoration-none">{{ record.person_name }}</a></td>
                {% if record.event.id == '333mbf' %}
                <td>{{ record.best|time_formatter_333mbf }}</td>
                {% elif record.event.id == '333fm' %}
                <td>{{ record.best }}</td>
                {% else %}
                <td>{{ record.best|time_formatter }}</td>
                {% endif %}
                <td>{{ record.competition.name }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <h2 class="my-3">Average</h2>
    <table class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Evento</th>
                <th>Nombre</th>
                <th>Resultado</th>
                <th>Competencia</th>
            </tr>
        </thead>
        <tbody>
        {% for record in average_records %}
            <tr>
                <td>
                    <span class="cubing-icon event-{{ record.event.id }} m-1 h4 text-body"></span>
                    {% for event in events %}
                        {% if event.id == selected_event %}
                            {{ event.name }}
                            {% if event.id != '333mbf' %}
                                {{ ranking_type|title }}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </td>
                <td><a href="https://www.worldcubeassociation.org/persons/{{ record.person.id }}" class="text-decoration-none">{{ record.person_name }}</a></td>
                {% if record.event.id == '333fm' %}
                <td>{{ record.average|divide_by_100 }}</td>
                {% else %}
                <td>{{ record.average|time_formatter }}</td>
                {% endif %}
                <td>{{ record.competition.name }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
        <h3 class="my-3 text-center">
            Parece que aún no hay gente de
            {% for state in states %}
                {% if state.three_letter_code == selected_state %}
                    {{ state.name }}
                {% endif %}
            {% endfor %}
            registrada en el sitio :(
        </h3>
    {% endif %}

    
    {% if selected_state %}
        {% include "includes/faq.html" %}
    {% endif %}
    
{% endblock %}

{% block javascripts %}{% endblock javascripts %}