{% extends 'base.html' %}

{% block title %}
Récords estatales de {{ selected_state }}
{% endblock %}

{% load static %}
{% load divide_by_100 %}
{% load time_formatter %}
{% load time_formatter_333mbf %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'css/cubing-icons.css' %}">
{% endblock stylesheets %}

{% block content %}
    <div class="row">
        <div class="col-12 col-sm-9">
            <h1 class="my-3">Récords estatales de {{ selected_state }}</h1>
            <h2 class="my-3">Single</h2>
        </div>
        <div class="col-12 col-sm-3 d-flex justify-content-center mt-5">
            <div class="dropdown">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                    Selecciona un estado
                </a>
              
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    {% for state in states %}
                        <li><a class="dropdown-item" href="{% url 'cubingmexico_web:state_records' state=state.three_letter_code %}">{{ state.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <table class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Evento</th>
                <th>Nombre</th>
                <th>Resultado</th>
                <th>Competencia</th>
            </tr>
        </thead>
        <tbody>
        {% for record in single_records %}
            <tr>
                <td>
                    <span class="cubing-icon event-{{ record.event.id }} m-1 h4 text-dark"></span>
                    {% if record.event.id == '333' %}
                        3×3×3
                    {% elif record.event.id == '222' %}
                        2×2×2
                    {% elif record.event.id == '444' %}
                        4×4×4
                    {% elif record.event.id == '555' %}
                        5×5×5
                    {% elif record.event.id == '666' %}
                        6×6×6
                    {% elif record.event.id == '777' %}
                        7×7×7
                    {% elif record.event.id == '333bf' %}
                        3×3×3 A Ciegas
                    {% elif record.event.id == '333fm' %}
                        3×3×3 Menos Movimientos
                    {% elif record.event.id == '333oh' %}
                        3×3×3 Una Mano
                    {% elif record.event.id == 'clock' %}
                        Clock
                    {% elif record.event.id == 'minx' %}
                        Megaminx
                    {% elif record.event.id == 'pyram' %}
                        Pyraminx
                    {% elif record.event.id == 'skewb' %}
                        Skewb
                    {% elif record.event.id == 'sq1' %}
                        Square-1
                    {% elif record.event.id == '444bf' %}
                        4×4×4 A Ciegas
                    {% elif record.event.id == '555bf' %}
                        5×5×5 A Ciegas
                    {% elif record.event.id == '333mbf' %}
                        3×3×3 Múltiples A Ciegas
                    {% endif %}
                </td>
                <td><a href="https://www.worldcubeassociation.org/persons/{{ record.person.id }}" class="text-decoration-none">{{ record.person_name }}</a></td>
                {% if record.event.id == '333mbf' %}
                <td>{{ record.best|time_formatter_333mbf }}</td>
                {% elif record.event.id == '333fm' %}
                <td>{{ record.best }}</td>
                {% else %}
                <td>{{ record.best|time_formatter }}</td>
                {% endif %}
                <td>{{ record.competition.name }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <h2 class="my-3">Average</h2>
    <table class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Evento</th>
                <th>Nombre</th>
                <th>Resultado</th>
                <th>Competencia</th>
            </tr>
        </thead>
        <tbody>
        {% for record in average_records %}
            <tr>
                <td>
                    <span class="cubing-icon event-{{ record.event.id }} m-1 h4 text-dark"></span>
                    {% if record.event.id == '333' %}
                        3×3×3
                    {% elif record.event.id == '222' %}
                        2×2×2
                    {% elif record.event.id == '444' %}
                        4×4×4
                    {% elif record.event.id == '555' %}
                        5×5×5
                    {% elif record.event.id == '666' %}
                        6×6×6
                    {% elif record.event.id == '777' %}
                        7×7×7
                    {% elif record.event.id == '333bf' %}
                        3×3×3 A Ciegas
                    {% elif record.event.id == '333fm' %}
                        3×3×3 Menos Movimientos
                    {% elif record.event.id == '333oh' %}
                        3×3×3 Una Mano
                    {% elif record.event.id == 'clock' %}
                        Clock
                    {% elif record.event.id == 'minx' %}
                        Megaminx
                    {% elif record.event.id == 'pyram' %}
                        Pyraminx
                    {% elif record.event.id == 'skewb' %}
                        Skewb
                    {% elif record.event.id == 'sq1' %}
                        Square-1
                    {% elif record.event.id == '444bf' %}
                        4×4×4 A Ciegas
                    {% elif record.event.id == '555bf' %}
                        5×5×5 A Ciegas
                    {% elif record.event.id == '333mbf' %}
                        3×3×3 Múltiples A Ciegas
                    {% endif %}
                </td>
                <td><a href="https://www.worldcubeassociation.org/persons/{{ record.person.id }}" class="text-decoration-none">{{ record.person_name }}</a></td>
                {% if record.event.id == '333fm' %}
                <td>{{ record.average }}</td>
                {% else %}
                <td>{{ record.average|time_formatter }}</td>
                {% endif %}
                <td>{{ record.competition.name }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    
{% endblock %}

{% block javascripts %}

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script>

<script>
    $(document).ready(function () {
        $('#rankings').DataTable({
            "language": {
                url: '//cdn.datatables.net/plug-ins/1.13.4/i18n/es-ES.json',
            }
        });
    });
</script>
{% endblock javascripts %}