{% extends 'base.html' %}

{% block title %}
Récords estatales de
{% for state in states %}
    {% if state.three_letter_code == selected_state %}
        {{ state.name }}
    {% endif %}
{% endfor %}
{% endblock %}

{% load static %}
{% load divide_by_100 %}
{% load time_formatter %}
{% load time_formatter_333mbf %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'css/cubing-icons.css' %}">
{% endblock stylesheets %}

{% block content %}
    <div class="row">
        <div class="col-12 col-sm-9">
            <h1 class="my-3">Récords estatales de
                {% for state in states %}
                    {% if state.three_letter_code == selected_state %}
                        {{ state.name }}
                    {% endif %}
                {% endfor %}
            </h1>
        </div>
        <div class="col-12 col-sm-3 d-flex justify-content-center my-3">
            <form>
                <label for="state-select"><strong>Selecciona un estado</strong></label>
                <select class="form-select" id="state-select" onchange="location = this.value;">
                  {% for state in states %}
                    <option value="{% url 'cubingmexico_web:state_records' state=state.three_letter_code %}" {% if state.three_letter_code == selected_state %}selected{% endif %}>{{ state.name }}</option>
                  {% endfor %}
                </select>
              </form>              
        </div>
    </div>

    {% if single_records and average_records %}
    <h2 class="my-3">Single</h2>
    <table class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Evento</th>
                <th>Nombre</th>
                <th>Resultado</th>
                <th>Competencia</th>
            </tr>
        </thead>
        <tbody>
        {% for record in single_records %}
            <tr>
                <td>
                    <span class="cubing-icon event-{{ record.event.id }} m-1 h4 text-dark"></span>
                    {% for event in events %}
                        {% if event.id == selected_event %}
                            {{ event.name }}
                        {% endif %}
                    {% endfor %}
                </td>
                <td><a href="https://www.worldcubeassociation.org/persons/{{ record.person.id }}" class="text-decoration-none">{{ record.person_name }}</a></td>
                {% if record.event.id == '333mbf' %}
                <td>{{ record.best|time_formatter_333mbf }}</td>
                {% elif record.event.id == '333fm' %}
                <td>{{ record.best }}</td>
                {% else %}
                <td>{{ record.best|time_formatter }}</td>
                {% endif %}
                <td>{{ record.competition.name }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <h2 class="my-3">Average</h2>
    <table class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Evento</th>
                <th>Nombre</th>
                <th>Resultado</th>
                <th>Competencia</th>
            </tr>
        </thead>
        <tbody>
        {% for record in average_records %}
            <tr>
                <td>
                    <span class="cubing-icon event-{{ record.event.id }} m-1 h4 text-dark"></span>
                    {% for event in events %}
                        {% if event.id == selected_event %}
                            {{ event.name }}
                            {% if event.id != '333mbf' %}
                                {{ ranking_type|title }}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </td>
                <td><a href="https://www.worldcubeassociation.org/persons/{{ record.person.id }}" class="text-decoration-none">{{ record.person_name }}</a></td>
                {% if record.event.id == '333fm' %}
                <td>{{ record.average }}</td>
                {% else %}
                <td>{{ record.average|time_formatter }}</td>
                {% endif %}
                <td>{{ record.competition.name }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
        <h3 class="my-3 text-center">
            Parece que aún no hay gente de
            {% for state in states %}
                {% if state.three_letter_code == selected_state %}
                    {{ state.name }}
                {% endif %}
            {% endfor %}
            registrada en el sitio :(
        </h3>
    {% endif %}
    
{% endblock %}

{% block javascripts %}

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script>

<script>
    $(document).ready(function () {
        $('#rankings').DataTable({
            "language": {
                url: '//cdn.datatables.net/plug-ins/1.13.4/i18n/es-ES.json',
            }
        });
    });
</script>
{% endblock javascripts %}