{% extends 'base.html' %}

{% block title %}Donaciones - Cubing México{% endblock %}

{% block content %}

<h1 class="text-center my-3">Donación cancelada</h1>

<div class="container">
    <div class="row">
        <p>Lamentamos que hayas decidido cancelar tu donación. Entendemos que las circunstancias pueden cambiar, y tu apoyo es muy valorado. Si en el futuro decides volver a donar o tienes alguna pregunta, no dudes en contactarnos. ¡Gracias por considerar apoyar nuestra causa!</p>
    </div>
    <div class="row">
        <a href="{% url 'cubingmexico_web:donations' %}" class="btn btn-secondary mt-3">Volver a la página de donaciones</a>
    </div>
</div>

{% endblock %}