{% extends 'base.html' %}

{% block title %}Donaciones - Cubing México{% endblock %}

{% block content %}

<h1 class="text-center my-3">¡Muchas gracias!</h1>

<div class="container">
    <div class="row">
        <p>Tu donación se ha procesado exitosamente y contribuirá significativamente al mantenimiento de Cubing México. Si proporcionaste tu nombre al realizar la donación, te incluiremos en nuestra lista de donantes. Este proceso se realiza de forma manual, por lo que te pedimos paciencia mientras completamos esta tarea. Gracias por tu generosidad.</p>
        <p>Si olvidaste poner tu nombre al momento de donar y deseas aparecer en la lista, envía un mensaje a la página de <a href="https://www.facebook.com/CubingMexico" class="text-decoration-none">Facebook</a> para que podamos revisarlo.</p>
        <p>Si eres dueño de un negocio y deseas que este aparezca como patrocinador, envía un mensaje a la página de <a href="https://www.facebook.com/CubingMexico" class="text-decoration-none">Facebook</a>.</p>
    </div>
    <div class="row">
        <a href="{% url 'cubingmexico_web:donations' %}" class="btn btn-secondary mt-3">Volver a la página de donaciones</a>
    </div>
</div>

{% endblock %}